body {
	overflow-x: hidden;
}

#bg {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

p {
	text-align: center;
	font-size: 100pt;
	margin-top: 0px;
	font-family: "Source Sans Code", monospace;
}

a {
	text-align: center;
	font-size: 30pt;
	margin-top: 0px;
	font-family: "Source Sans Code", monospace;
	color: black;
	text-decoration: none;
	margin-bottom: 20pt;
}

#cont {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

input {
	text-align: center;
	font-size: 75pt;
	margin-top: 0px;
	font-family: "Source Sans Code", monospace;
	border-top: 0pt;
	border-left: 0pt;
	border-right: 0pt;
	border-bottom: 2px solid #6d6d6d;
	width: 100%;
}

input:focus {
	outline: none;
}

#hint {
	margin-top: 20pt;
}

.small-text {
	font-size: 25pt;
	font-family: "Source Sans Code", monospace;
	padding: 5pt;
}

.small-text a {
	font-size: 25pt;
}

footer {
	text-align: center;
	color: black;
	position: absolute;
	bottom: 0;
	padding: 0.3em;
	width: 100vw;
	font-family: sans-serif;
}
