body {
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#cont {
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	text-align: center;

	margin-top: 2em;
	margin-bottom: -3em;
}

p {
	text-align: center;
	font-size: 100pt;
	margin-top: 0px;
	font-family: "Source Sans Code", monospace;
}

a {
	text-align: center;
	font-size: 30pt;
	margin-top: 0px;
	font-family: "Source Sans Code", monospace;
	color: black;
	text-decoration: none;
	margin-bottom: 20pt;
}

input {
	text-align: center;
	font-size: 75pt;
	margin-top: 0px;
	font-family: "Source Sans Code", monospace;
	border-top: 0pt;
	border-left: 0pt;
	border-right: 0pt;
	border-bottom: 2px solid #6d6d6d;
	width: 100%;
}

input:focus {
	outline: none;
}

#hint {
	margin-top: 20pt;
}

.small-text {
	font-size: 25pt;
	font-family: "Source Sans Code", monospace;
	padding: 5pt;
}

.small-text a {
	font-size: 25pt;
}

footer {
	text-align: center;
	color: black;
	/* position: absolute; */
	/* bottom: 0; */
	padding: 0.3em;
	width: 100vw;
	height: 2em;
	font-family: sans-serif;
}
